src/main/resources/wsdl.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://service.ht.com/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
                  name="UserServiceService"
                  targetNamespace="http://service.ht.com/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://service.ht.com/"
                   attributeFormDefault="unqualified"
                   elementFormDefault="unqualified"
                   targetNamespace="http://service.ht.com/">
            <xs:element name="deleteUserByIds" type="tns:deleteUserByIds"/>
            <xs:element name="deleteUserByIdsResponse" type="tns:deleteUserByIdsResponse"/>
            <xs:element name="login" type="tns:login"/>
            <xs:element name="loginResponse" type="tns:loginResponse"/>
            <xs:element name="queryUserPage" type="tns:queryUserPage"/>
            <xs:element name="queryUserPageResponse" type="tns:queryUserPageResponse"/>
            <xs:element name="saveOrUpdateUser" type="tns:saveOrUpdateUser"/>
            <xs:element name="saveOrUpdateUserResponse" type="tns:saveOrUpdateUserResponse"/>
            <xs:complexType name="saveOrUpdateUser">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:users"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="users">
                <xs:complexContent>
                    <xs:extension base="tns:pageParam">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="address" type="xs:string"/>
                            <xs:element minOccurs="0" name="headImg" type="xs:string"/>
                            <xs:element minOccurs="0" name="id" type="xs:string"/>
                            <xs:element minOccurs="0" name="likeName" type="xs:string"/>
                            <xs:element minOccurs="0" name="pwd" type="xs:string"/>
                            <xs:element minOccurs="0" name="remark" type="xs:string"/>
                            <xs:element minOccurs="0" name="state" type="xs:string"/>
                            <xs:element minOccurs="0" name="telphone" type="xs:string"/>
                            <xs:element minOccurs="0" name="username" type="xs:string"/>
                            <xs:element minOccurs="0" name="utype" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="pageParam">
                <xs:sequence>
                    <xs:element minOccurs="0" name="limit" type="xs:int"/>
                    <xs:element minOccurs="0" name="page" type="xs:int"/>
                    <xs:element minOccurs="0" name="start" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="saveOrUpdateUserResponse">
                <xs:sequence>
                    <xs:element name="_return">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element minOccurs="0" name="key" type="xs:string"/>
                                            <xs:element minOccurs="0" name="value" type="xs:string"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="deleteUserByIds">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="deleteUserByIdsResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="queryUserPage">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:users"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="queryUserPageResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:pageVo"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="pageVo">
                <xs:sequence>
                    <xs:element name="code" type="xs:int"/>
                    <xs:element name="count" type="xs:int"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="data" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="msg" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="login">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg1" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="loginResponse">
                <xs:sequence>
                    <xs:element name="_return">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element minOccurs="0" name="key" type="xs:string"/>
                                            <xs:element minOccurs="0" name="value" type="xs:string"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="NoSuchAlgorithmException" type="tns:NoSuchAlgorithmException"/>
            <xs:complexType name="NoSuchAlgorithmException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="UnsupportedEncodingException" type="tns:UnsupportedEncodingException"/>
            <xs:complexType name="UnsupportedEncodingException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="IntrospectionException" type="tns:IntrospectionException"/>
            <xs:complexType name="IntrospectionException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="InvocationTargetException" type="tns:InvocationTargetException"/>
            <xs:complexType name="InvocationTargetException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="IllegalAccessException" type="tns:IllegalAccessException"/>
            <xs:complexType name="IllegalAccessException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="NoSuchAlgorithmException">
        <wsdl:part element="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="IntrospectionException">
        <wsdl:part element="tns:IntrospectionException" name="IntrospectionException"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="UnsupportedEncodingException">
        <wsdl:part element="tns:UnsupportedEncodingException" name="UnsupportedEncodingException"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteUserByIds">
        <wsdl:part element="tns:deleteUserByIds" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="InvocationTargetException">
        <wsdl:part element="tns:InvocationTargetException" name="InvocationTargetException"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="IllegalAccessException">
        <wsdl:part element="tns:IllegalAccessException" name="IllegalAccessException"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="login">
        <wsdl:part element="tns:login" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="saveOrUpdateUserResponse">
        <wsdl:part element="tns:saveOrUpdateUserResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="loginResponse">
        <wsdl:part element="tns:loginResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryUserPage">
        <wsdl:part element="tns:queryUserPage" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="saveOrUpdateUser">
        <wsdl:part element="tns:saveOrUpdateUser" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteUserByIdsResponse">
        <wsdl:part element="tns:deleteUserByIdsResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryUserPageResponse">
        <wsdl:part element="tns:queryUserPageResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="UserService">
        <wsdl:operation name="saveOrUpdateUser">
            <wsdl:input message="tns:saveOrUpdateUser" name="saveOrUpdateUser"> </wsdl:input>
            <wsdl:output message="tns:saveOrUpdateUserResponse" name="saveOrUpdateUserResponse"> </wsdl:output>
            <wsdl:fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException"> </wsdl:fault>
            <wsdl:fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException"> </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteUserByIds">
            <wsdl:input message="tns:deleteUserByIds" name="deleteUserByIds"> </wsdl:input>
            <wsdl:output message="tns:deleteUserByIdsResponse" name="deleteUserByIdsResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="queryUserPage">
            <wsdl:input message="tns:queryUserPage" name="queryUserPage"> </wsdl:input>
            <wsdl:output message="tns:queryUserPageResponse" name="queryUserPageResponse"> </wsdl:output>
            <wsdl:fault message="tns:IntrospectionException" name="IntrospectionException"> </wsdl:fault>
            <wsdl:fault message="tns:InvocationTargetException" name="InvocationTargetException"> </wsdl:fault>
            <wsdl:fault message="tns:IllegalAccessException" name="IllegalAccessException"> </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="login">
            <wsdl:input message="tns:login" name="login"> </wsdl:input>
            <wsdl:output message="tns:loginResponse" name="loginResponse"> </wsdl:output>
            <wsdl:fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException"> </wsdl:fault>
            <wsdl:fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException"> </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UserServiceServiceSoapBinding" type="tns:UserService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="saveOrUpdateUser">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="saveOrUpdateUser">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="saveOrUpdateUserResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UnsupportedEncodingException">
                <soap:fault name="UnsupportedEncodingException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="NoSuchAlgorithmException">
                <soap:fault name="NoSuchAlgorithmException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteUserByIds">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="deleteUserByIds">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteUserByIdsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="queryUserPage">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="queryUserPage">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="queryUserPageResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntrospectionException">
                <soap:fault name="IntrospectionException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvocationTargetException">
                <soap:fault name="InvocationTargetException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessException">
                <soap:fault name="IllegalAccessException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="login">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="login">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="loginResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UnsupportedEncodingException">
                <soap:fault name="UnsupportedEncodingException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="NoSuchAlgorithmException">
                <soap:fault name="NoSuchAlgorithmException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UserServiceService">
        <wsdl:port binding="tns:UserServiceServiceSoapBinding" name="UserServicePort">
            <soap:address location="http://localhost:8083/webservice/HelloWord"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>